<a href="https://colab.research.google.com/github/alixintong/btt-ai-know-your-customer/blob/jess/bounding_box.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# this cell allows access to our folder

from google.colab import drive
drive.mount('/content/drive', force_remount=True)
root_path = '/content/gdrive/MyDrive/BTTAI_AmericanExpress1'

Mounted at /content/drive

In [8]:
# cell for imports - add as needed
import torch 
import cv2
import numpy as np 
import pandas as pd
import os, os.path
import re
from fastai.vision.all import *

In [3]:
# for reference
#   - fastai segmentation: https://walkwithfastai.com/Segmentation
#   - fastai object detection: https://walkwithfastai.com/Object_Detection

In [9]:
path = '/content/drive/MyDrive/BTTAI_AmericanExpress1/datasets/sampleDataset/frames'

files = get_image_files(path + "/datasheet001_frames")
len(files)

214

In [14]:
# import bounding box datasheet csv
# use datasheet001 as csv instead of xml
url='https://drive.google.com/file/d/1lUoBf1rwPXPlI9Zg2lDzwV4ODtsGJ4u2/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
df.head()

,point/0/_name,point/0/_x,point/0/_y,point/1/_name,point/1/_x,point/1/_y,point/2/_name,point/2/_x,point/2/_y,point/3/_name,point/3/_x,point/3/_y,_index,_rejected
0,bl,716.625,805.609,tl,737.377,201.383,tr,1180.71,199.127,br,1259.02,791.942,1,False
1,bl,714.326,806.309,tl,736.330,202.300,tr,1179.74,200.028,br,1257.21,792.161,2,False
2,bl,713.031,804.811,tl,734.431,201.449,tr,1177.81,199.795,br,1255.42,791.291,3,False
3,bl,713.845,802.659,tl,734.423,198.474,tr,1177.79,196.852,br,1256.72,789.631,4,False
4,bl,713.088,802.830,tl,734.675,195.678,tr,1179.99,194.057,br,1259.35,790.289,5,False

In [15]:
df["document"] = df["_rejected"].apply(lambda x: not x)

In [17]:
df = df.drop('_rejected', axis = 1)
df.head()

,point/0/_name,point/0/_x,point/0/_y,point/1/_name,point/1/_x,point/1/_y,point/2/_name,point/2/_x,point/2/_y,point/3/_name,point/3/_x,point/3/_y,_index,document
0,bl,716.625,805.609,tl,737.377,201.383,tr,1180.71,199.127,br,1259.02,791.942,1,True
1,bl,714.326,806.309,tl,736.330,202.300,tr,1179.74,200.028,br,1257.21,792.161,2,True
2,bl,713.031,804.811,tl,734.431,201.449,tr,1177.81,199.795,br,1255.42,791.291,3,True
3,bl,713.845,802.659,tl,734.423,198.474,tr,1177.79,196.852,br,1256.72,789.631,4,True
4,bl,713.088,802.830,tl,734.675,195.678,tr,1179.99,194.057,br,1259.35,790.289,5,True

In [18]:
def get_coordinates(row_data):
  x1 = min(row_data[1], row_data[4], row_data[7], row_data[10])
  y1 = min(row_data[2], row_data[5], row_data[8], row_data[11])
  x2 = max(row_data[1], row_data[4], row_data[7], row_data[10])
  y2 = max(row_data[2], row_data[5], row_data[8], row_data[11])
  bb_cd = [x1, y1, x2, y2] 
  return bb_cd

In [19]:
bb = []
bb.append(df.apply(lambda row: get_coordinates(row), axis = 1))

In [25]:
bb = np.array(bb)
bb = bb.flatten()

In [30]:
bb = list(bb)

In [31]:
print(bb)

[[716.625, 199.127, 1259.02, 805.609], [714.326, 200.028, 1257.21, 806.309], [713.031, 199.795, 1255.42, 804.811], [713.845, 196.852, 1256.72, 802.659], [713.088, 194.057, 1259.35, 802.83], [710.712, 192.17, 1259.97, 804.627], [708.63, 190.434, 1260.92, 805.288], [709.185, 188.701, 1264.0, 805.897], [707.649, 185.794, 1265.47, 806.049], [704.386, 182.308, 1266.23, 806.904], [706.751, 182.023, 1262.08, 806.144], [710.254, 194.128, 1254.57, 801.102], [713.1, 194.844, 1256.77, 801.072], [714.904, 195.971, 1258.58, 801.413], [714.898, 196.899, 1257.45, 801.527], [713.67, 197.032, 1255.59, 801.477], [713.323, 197.865, 1255.11, 800.823], [714.12, 197.717, 1254.63, 799.75], [712.307, 196.862, 1252.97, 799.758], [709.416, 197.829, 1250.41, 800.245], [709.243, 196.886, 1249.75, 799.384], [708.073, 195.934, 1248.59, 798.56], [706.282, 195.617, 1246.77, 797.391], [708.759, 194.719, 1248.76, 796.698], [710.111, 194.665, 1250.61, 796.567], [715.25, 195.653, 1255.14, 796.404], [719.258, 195.622, 1258.54, 795.735], [725.584, 199.156, 1266.01, 796.909], [728.973, 199.859, 1269.27, 796.937], [732.588, 195.987, 1273.53, 792.539], [733.239, 196.001, 1274.19, 792.703], [737.076, 196.089, 1278.16, 792.872], [740.041, 196.06, 1280.97, 793.338], [748.962, 198.825, 1289.41, 794.967], [753.612, 199.74, 1293.44, 795.28], [762.126, 201.596, 1301.48, 795.297], [765.144, 202.275, 1304.36, 793.837], [764.8, 199.666, 1303.25, 791.217], [766.3, 198.758, 1304.41, 789.871], [766.933, 196.836, 1304.91, 786.453], [765.557, 196.593, 1303.05, 784.927], [763.762, 193.621, 1300.61, 780.922], [761.133, 193.259, 1296.86, 779.814], [761.141, 193.175, 1296.87, 778.993], [760.855, 195.502, 1295.68, 779.761], [760.079, 197.117, 1293.94, 780.176], [754.343, 196.351, 1288.07, 778.994], [751.277, 196.59, 1284.99, 780.451], [748.629, 198.213, 1281.86, 782.542], [743.312, 197.72, 1275.92, 782.298], [734.125, 198.36, 1265.98, 783.055], [727.877, 196.848, 1258.76, 782.132], [721.009, 196.071, 1251.9, 781.949], [706.039, 194.533, 1236.3, 780.542], [689.9, 191.235, 1219.55, 779.122], [676.537, 191.258, 1205.43, 778.753], [669.708, 190.625, 1198.89, 778.913], [663.476, 191.673, 1191.9, 779.05], [657.66, 192.517, 1185.95, 778.417], [644.183, 192.625, 1171.88, 777.092], [635.9, 192.694, 1164.1, 777.962], [620.182, 190.7, 1149.05, 775.37], [600.071, 190.38, 1130.72, 775.353], [592.77, 189.571, 1124.42, 774.587], [578.343, 190.122, 1109.33, 772.45], [572.282, 191.6, 1102.87, 771.667], [559.661, 196.74, 1087.91, 771.642], [553.566, 200.302, 1080.57, 771.793], [550.629, 206.779, 1073.39, 768.577], [546.287, 205.156, 1068.29, 764.272], [542.89, 206.324, 1062.53, 760.083], [537.799, 203.453, 1056.84, 755.529], [535.046, 201.203, 1054.09, 753.171], [536.743, 201.891, 1055.66, 751.85], [535.584, 200.241, 1057.39, 752.815], [536.721, 202.75, 1059.69, 755.547], [539.247, 202.59, 1063.82, 754.862], [546.471, 201.189, 1073.77, 754.854], [549.942, 199.167, 1078.87, 751.21], [551.833, 194.508, 1081.34, 747.778], [552.772, 190.562, 1080.79, 742.035], [550.875, 189.323, 1076.4, 738.21], [548.099, 188.176, 1070.23, 736.052], [545.496, 189.765, 1063.38, 733.18], [541.865, 188.336, 1057.62, 728.148], [538.746, 186.126, 1054.74, 723.041], [538.16, 183.433, 1054.59, 715.841], [538.306, 178.321, 1055.46, 710.278], [542.461, 176.061, 1060.54, 709.726], [552.551, 177.713, 1069.12, 709.717], [562.804, 174.553, 1078.87, 705.113], [574.186, 169.74, 1090.07, 702.035], [584.033, 170.014, 1098.28, 703.521], [593.616, 172.351, 1106.44, 705.214], [602.503, 172.431, 1114.31, 704.269], [609.728, 169.589, 1121.51, 701.874], [617.539, 168.877, 1128.66, 701.423], [627.445, 167.819, 1137.39, 700.762], [634.636, 168.178, 1144.07, 701.486], [641.862, 166.483, 1151.39, 701.702], [648.887, 167.634, 1157.74, 703.886], [653.087, 167.935, 1161.42, 704.413], [657.64, 165.144, 1165.88, 704.519], [663.426, 163.5, 1170.99, 704.48], [669.48, 160.093, 1177.38, 704.224], [669.104, 157.0, 1182.67, 704.162], [670.262, 152.149, 1189.78, 702.116], [669.299, 146.069, 1195.95, 700.173], [670.485, 141.467, 1201.93, 698.816], [668.785, 129.411, 1213.88, 692.868], [666.218, 120.306, 1220.31, 690.358], [667.351, 112.869, 1228.8, 687.384], [671.135, 109.09, 1235.19, 686.365], [670.616, 109.736, 1242.23, 692.632], [676.42, 113.134, 1248.23, 694.514], [683.725, 116.768, 1256.52, 695.817], [694.344, 116.173, 1265.69, 692.974], [718.583, 121.51, 1285.16, 693.528], [733.013, 120.5, 1295.97, 689.102], [746.477, 120.862, 1305.71, 689.852], [757.479, 127.421, 1310.81, 695.111], [762.133, 134.234, 1312.58, 698.121], [767.722, 135.466, 1314.5, 697.165], [774.435, 137.85, 1318.4, 697.653], [786.37, 136.306, 1322.89, 696.986], [790.099, 133.183, 1323.76, 694.965], [794.632, 131.037, 1324.54, 696.288], [796.25, 141.422, 1315.95, 708.943], [794.753, 147.016, 1309.46, 715.21], [792.575, 150.537, 1304.47, 718.158], [790.726, 151.051, 1297.41, 720.782], [792.626, 151.647, 1297.97, 722.471], [804.073, 150.848, 1305.66, 722.035], [804.369, 149.075, 1304.54, 721.936], [787.599, 153.092, 1289.67, 732.407], [779.397, 154.22, 1282.25, 735.239], [774.564, 154.411, 1278.05, 736.925], [778.035, 149.872, 1284.95, 737.296], [784.997, 142.124, 1292.96, 732.125], [789.686, 131.596, 1298.85, 728.054], [789.942, 130.565, 1299.01, 728.122], [785.208, 132.764, 1292.79, 735.588], [775.971, 139.271, 1283.68, 741.342], [770.532, 140.282, 1277.75, 744.581], [769.24, 147.012, 1274.82, 752.251], [768.361, 150.475, 1274.06, 758.547], [766.763, 156.089, 1271.35, 766.287], [760.48, 170.49, 1266.44, 784.441], [757.438, 178.71, 1263.9, 793.922], [753.336, 192.913, 1259.54, 808.353], [753.412, 197.368, 1261.78, 815.692], [757.03, 201.894, 1266.9, 821.627], [756.558, 204.135, 1268.7, 826.891], [753.685, 212.013, 1264.97, 832.389], [751.367, 216.699, 1263.14, 836.916], [752.527, 233.748, 1261.65, 846.526], [754.517, 239.053, 1262.64, 848.036], [764.974, 245.645, 1270.59, 847.955], [770.566, 245.211, 1274.56, 842.75], [773.459, 242.192, 1277.1, 837.77], [776.37, 240.009, 1279.0, 833.732], [774.36, 237.986, 1276.37, 829.392], [769.901, 231.594, 1271.9, 821.412], [768.57, 230.444, 1270.56, 818.744], [766.508, 228.433, 1267.74, 815.701], [759.841, 229.077, 1260.31, 815.522], [755.342, 233.748, 1256.17, 818.384], [748.642, 237.351, 1249.18, 820.027], [746.075, 241.315, 1245.85, 822.319], [743.003, 245.096, 1241.38, 823.414], [739.957, 249.098, 1238.2, 826.398], [730.39, 259.835, 1228.22, 835.042], [724.21, 264.326, 1222.73, 837.405], [722.225, 270.104, 1220.11, 840.908], [720.27, 271.659, 1218.53, 838.02], [722.378, 264.097, 1221.76, 826.165], [723.257, 252.71, 1223.49, 812.27], [724.778, 247.537, 1224.53, 804.29], [727.736, 231.135, 1229.13, 783.508], [727.585, 220.129, 1229.61, 771.893], [725.786, 211.203, 1227.96, 763.072], [720.757, 199.772, 1224.67, 749.385], [721.597, 193.759, 1225.02, 742.698], [719.52, 190.819, 1222.68, 739.529], [722.404, 192.249, 1225.41, 737.254], [724.516, 196.216, 1226.65, 739.605], [724.78, 198.724, 1226.91, 738.518], [721.056, 199.658, 1222.29, 738.33], [717.265, 200.662, 1218.64, 738.687], [710.91, 204.343, 1210.4, 739.3], [707.226, 204.591, 1205.37, 740.499], [697.207, 209.156, 1193.31, 741.774], [694.298, 209.336, 1188.27, 743.405], [692.562, 213.738, 1183.04, 746.011], [691.184, 215.713, 1179.91, 747.895], [696.701, 213.704, 1182.07, 741.74], [696.583, 208.945, 1182.1, 739.228], [694.68, 208.23, 1178.59, 740.275], [696.312, 211.51, 1178.88, 743.995], [698.005, 212.965, 1180.16, 743.699], [694.225, 209.453, 1176.31, 742.827], [694.99, 216.756, 1176.07, 754.195], [697.718, 217.835, 1179.94, 757.775], [698.512, 223.175, 1180.25, 766.208], [699.764, 235.168, 1182.28, 778.609], [703.562, 239.154, 1186.44, 783.291], [706.93, 243.06, 1189.69, 788.148], [703.761, 249.842, 1188.28, 796.623], [702.035, 258.908, 1187.96, 808.537], [701.55, 261.077, 1188.6, 812.911], [701.968, 267.997, 1190.15, 822.483], [702.715, 271.904, 1192.15, 827.228], [704.907, 274.036, 1195.98, 830.97], [707.982, 280.919, 1200.05, 839.376]]

In [32]:
df_bb = pd.DataFrame(data=bb, columns=['x1', 'y1', 'x2', 'y2'])

In [33]:
df_bb.head()

        x1       y1       x2       y2
0  716.625  199.127  1259.02  805.609
1  714.326  200.028  1257.21  806.309
2  713.031  199.795  1255.42  804.811
3  713.845  196.852  1256.72  802.659
4  713.088  194.057  1259.35  802.830

In [34]:
df_bb['document'] = df['document']
df_bb.head() # df_bb would be the labels of bounding boxes

        x1       y1       x2       y2  document
0  716.625  199.127  1259.02  805.609      True
1  714.326  200.028  1257.21  806.309      True
2  713.031  199.795  1255.42  804.811      True
3  713.845  196.852  1256.72  802.659      True
4  713.088  194.057  1259.35  802.830      True